@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto&display=swap');
*{
    margin: 0;
}
body{
    background-image: url("https://www.codingnepalweb.com/demos/create-responsive-coffee-website-html-css/hero-bg.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-family: "poppins";
    
}
nav{
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    font-size: 36px;
    font-weight: 600;
}
nav .logo span{
    color: #c06b3f;
}
nav .links{
    display: flex;
    gap: 35px;
}
nav .links a{
    color: white;
    text-decoration: none;
    transition: all 0.2 ease;
}
nav .links a:hover,
nav .logo:hover{
    color: #c06b3f;
}
.hero-section{
    display: flex;
    align-items: center;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    gap: 0px;
    margin-top: -100px;
    
}
.hero-section .content{
    color: white;

    
}
.hero-section .content h2{
    font-size: 48px;
    max-width: 600px;
    line-height: 70px;
}
.hero-section .content p{
    font-weight: 300;
    max-width: 600px;
    margin-top: 15px;
   
}

.hero-section .content button{
    background-color: #fff;
    padding: 12px 30px;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    margin-top: 38px;
    cursor: pointer;
    transition: 0.2s ease;
}
.hero-section .content button:hover{
    background-color: #c06b3f;
    color: white;
}

